@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk.ttf") format("truetype");
}

:root {
  font-size: 18px;
  font-family: "Space Grotesk";
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

@layer components {
  .canvas-screen {
    background-image: radial-gradient(#ffffff11 2px, transparent 1px);
    background-size: 25px 25px;
    @apply w-screen h-screen;
  }

  /* Node */
  .node {
    --node-x-padding: 8px;
    --noodle-size: 10px;
    @apply absolute w-40 flex flex-col bg-neutral-800 rounded-lg;
  }
  .node-header {
    padding: 4px var(--node-x-padding);
    @apply flex items-center gap-1 bg-emerald-900 rounded-t-lg;
  }
  .node-body {
    padding: var(--node-x-padding);
    @apply flex flex-col gap-1;
  }
  .node-ports {
    @apply w-full flex flex-col;
  }
  .port {
    @apply flex items-center relative px-1.5;
  }
  .port .port-noodle {
    width: var(--noodle-size);
    height: var(--noodle-size);
    @apply absolute bg-emerald-600 rounded-full border border-white/40;
  }
  .node-outputs {
    @apply items-end;
  }
  .node-outputs .port .port-noodle {
    @apply right-0;
    transform: translateX(calc(100% + var(--node-x-padding) - (var(--noodle-size) / 2)));
  }
  .node-inputs .port .port-noodle {
    @apply left-0;
    transform: translateX(calc(-100% - var(--node-x-padding) + (var(--noodle-size) / 2)));
  }
}
