@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk.ttf") format("truetype");
}


:root {
  font-size: 18px;
  font-family: "Space Grotesk";
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .canvas-screen {
    background-image: radial-gradient(#ffffff11 2px, transparent 1px);
    background-size: 25px 25px;
    @apply w-screen h-screen;
  }
}
